src/main/mule/collectors/external/systems/collector-azuredevops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="collector-azuredevops-boards-metrics-flow" doc:id="e7f9ddfd-fc85-4249-88a9-cec4e5265bba" >
	    <choice doc:name="AzureDevOps Boards metrics enabled" doc:id="f8731cff-32d1-45fb-9636-88435487894a" >
	      <when expression='#[vars.sdlcDetails.azuredevops.boards.enabled as Boolean]'>
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Boards Collector enabled" doc:id="2c5e274e-0f09-4794-a0d8-8253cefc01d8" message="Azure DevOps Boards Collector enabled"/>
				<scatter-gather doc:name="Scatter-Gather" doc:id="a2b75362-64f5-40cd-8db2-1e9b68d0c43d" >
					<route >
				  	<ee:transform doc:name="Set Backlog Query" doc:id="72b5b502-6834-48d2-8bcd-275c4405759c">
		              <ee:message>
		              </ee:message>
		              <ee:variables>
		                <ee:set-variable resource="dw/sdlc/azure-backlog-query.dwl" variableName="queryDetails" />
		              </ee:variables>
		            </ee:transform>
							<flow-ref doc:name="get-azure-devops-query" doc:id="d473b03b-dc4e-41c0-b4f7-ba5533184bbd" name="get-azure-devops-query" />
						</route>
	          <route >
	            <ee:transform doc:name="Set Current Sprint Query" doc:id="346cdc5e-9814-4d25-9e78-ba30010d7cb1" >
	              <ee:message >
	              </ee:message>
	              <ee:variables >
	                <ee:set-variable resource="dw/sdlc/azure-sprint-query.dwl" variableName="queryDetails" />
	              </ee:variables>
	            </ee:transform>
	            <flow-ref doc:name="get-azure-devops-query" doc:id="93366a16-4979-4061-9a98-1f68343b8ce2" name="get-azure-devops-query"/>
	          </route>
			  
	        </scatter-gather>
	      </when>
	      <otherwise >
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Boards Collector disabled" doc:id="6f5762d8-a28b-49bc-b30a-e96f7b2ffbdc" message="Azure DevOps Boards Collector disabled"/>
	        <set-payload value="#[null]" doc:name="Set Null Payload" doc:id="0252e1c3-d935-4604-81c1-a11ad1460e75" />
	      </otherwise>
	    </choice>
	  </flow>
	  <flow name="collector-azuredevops-repos-metrics-flow" doc:id="f06ce909-8b53-4806-b260-cf3d854fe932" >
	    <choice doc:name="AzureDevOps Repos metrics enabled" doc:id="aeae782c-c027-45ac-987c-53a9a7bd4b16" >
	      <when expression='#[vars.sdlcDetails.azuredevops.repos.enabled as Boolean]'>
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Repos Collector enabled" doc:id="7d05ac75-1495-4a1e-ae43-46fbe752c395" message="Azure DevOps Repos Collector enabled"/>
				<flow-ref doc:name="get-azure-devops-repos" doc:id="84df21c1-b6fd-4535-89d0-ee9d8bd1085a" name="get-azure-devops-repos" />
	      </when>
	      <otherwise >
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Repos Collector disabled" doc:id="8f07c34f-5a7d-4cbb-9446-90d47f6d7f5e" message="Azure DevOps Repos Collector disabled"/>
	        <set-payload value="#[null]" doc:name="Set Null Payload" doc:id="c539728c-bbdf-4158-9ce6-01a9070216de" />
	      </otherwise>
	    </choice>
	  </flow>
	  <flow name="collector-azuredevops-pipelines-metrics-flow" doc:id="0b45fe6f-daa4-4fbb-8fb7-723203c20321" >
	    <choice doc:name="AzureDevOps Pipelines metrics enabled" doc:id="d54c06f6-7ff1-4062-9844-9c292a7c58ef" >
	      <when expression='#[vars.sdlcDetails.azuredevops.pipelines.enabled as Boolean]'>
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Pipelines Collector enabled" doc:id="324ee89b-bfcc-4b04-97d4-301094852376" message="Azure DevOps Pipelines Collector enabled"/>
				<flow-ref doc:name="get-azure-devops-builds" doc:id="fecb0b5b-6fb2-43d0-8a9b-8a531ce617e7" name="get-azure-devops-builds" />
	      </when>
	      <otherwise >
	        <logger level="DEBUG" doc:name="Debug - Azure DevOps Pipelines Collector disabled" doc:id="0b1b1a94-87c2-4658-951a-0ab9aa096fd9" message="Azure DevOps Pipelines Collector disabled"/>
	        <set-payload value="#[null]" doc:name="Set Null Payload" doc:id="40dbcd12-d8fb-4103-ab42-acafdc8cebc6" />
	      </otherwise>
	    </choice>
	  </flow>
</mule>
